body{
  font: 20px Arial,sans-serif;
}

h3, h4{
  margin: 30px;
}
.navbar{
  background: #00498d;
}

.quem-somos{
  background: #87afd4;
  color: black;
}

.margin{
  padding: 50px 0;
}

.parceiros{
  background-color: #34516d;
  color: white;
  height: 350px;
}

.servicos-img{
  margin: 20px;
  border-radius: 5px 30px;
}

.bg-footer{
  background-color: black;
  color: white;
  padding: 5px;
}